.container {
  padding: 1.5rem 2rem;
  /* margin-bottom: 2rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bgWhite);
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.5));
}

.flexLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img {
  width: 8rem;
  height: auto;
  margin-right: 1rem;
}
