.container {
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: var(--bgWhite);
}

.img {
  width: 6rem;
  height: auto;
}

.flexLinks {
  display: flex;
  gap: 1rem;
}
